/* styles.css */

@import url('https://fonts.bunny.net/css?family=alata:400');

body {
    background-color: #999999;
    color: white;
    font-family: 'Alata', sans-serif;
}

.fixed-size-img {
    width: 100%;
    height: 500px; /* ajuster la hauteur de l'image */
    object-fit: cover;
}

.navbar-nav .nav-link {
    color: white !important; /* Appliquer la couleur blanche aux liens de la navbar */
}

.nav-links .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link i {
    font-size: 1.2rem; /* taille de l'icône */
}

.topcard {
    width: 100%; /* Utilisation de 100% pour occuper toute la largeur disponible */
    height: 400px; /* Ajuste automatiquement la hauteur en fonction de la largeur */
    max-width: none; /* Assurez-vous que la largeur maximale n'est pas limitée */
    margin-top: 20px;
    margin-bottom: 30px;
}


.carousel-item img {
    height: 900px; /* Ajustez la hauteur selon vos besoins */
}

.tournament-poster {
    border: 2px solid #dee2e6;
    border-radius: 8px;
    margin-left: 15px;
}

.tournament-info {
    background-color: #ffffff;
    border: 2px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-right: 15px;
}

.tournament-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.tournament-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black; /* Couleur des flèches de contrôle du carrousel */
}

.bg-company-grey {
    background-color: #6E6E6E !important; /* Couleur de fond personnalisée pour la navbar */
}

.textblack {
    color: black; /* Couleur du texte noir */
}

.btn-secondary {
    background-color: #BAFF39; /* Couleur de fond personnalisée pour les boutons */
    border-color: #BAFF39; /* Optionnel : couleur de la bordure */
    color: black; /* Couleur du texte */
}

/* Augmenter la taille de l'icône à droite */
.custom-navbar .nav-link i {
    font-size: 1.5rem; /* Taille de l'icône augmentée */
    color: white; /* Couleur de l'icône en blanc */
}

/* Mettre le texte du logo en haut à gauche en blanc */
.custom-navbar .navbar-brand {
    color: white; /* Couleur du texte du logo en blanc */
    font-size: 1.5rem; /* Taille du texte du logo */
}

.custom-navbar .nav-link {
    color: white !important; /* Couleur du texte initial */
    transition: color 0.3s ease; /* Transition fluide pour le changement de couleur */
}

.custom-navbar .nav-link:hover {
    color: black; /* Couleur de survol des liens */
    text-decoration: none; /* Supprime le soulignement par défaut */
    background-color: #BAFF39; /* Couleur de fond de survol */
    border-radius: 5px; /* Arrondi des coins */
}
