{% extends 'base.html.twig' %}

{% block title %}À propos de nous - O'FOOT{% endblock %}

{% block body %}

    
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <h2 class="section-title m-0 text-white">À propos de nous</h2>
                </div>
                <div class="mt-3">
                    <span class="section-description semi-transparent-bg">Découvrez notre histoire, notre équipe et nos valeurs.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-6">
                <img src="https://www.businesscoot.com/uploads/study_main_image/1476.webp" class="img-fluid rounded img-500" alt="Notre histoire">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="mb-4 mt-4 semi-transparent-bg">Notre histoire</h2>
                <div class="semi-transparent-bg">
                    <p>O'Foot est né de la passion de quatre étudiants en développement web pour le football amateur. Notre projet vise à simplifier l'organisation et la participation aux tournois locaux. </p>
                    <p>En combinant nos compétences techniques et notre amour du sport, nous avons créé une plateforme conviviale qui connecte les passionnés de football, facilitant la création et la découverte de tournois.
                    O'Foot représente à la fois l'aboutissement de notre formation et le début d'une aventure footballistique excitante</p>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6 order-lg-2">
                <img src="https://www.csbretignyfootball.fr/wp-content/uploads/2024/05/01-4.jpg" class="img-fluid rounded" alt="Notre équipe">
            </div>
            <div class="col-lg-6 order-lg-1 text-center">
                <h2 class="mb-4 mt-4 semi-transparent-bg">Notre équipe</h2>
                <div class="semi-transparent-bg">
                    <p>Derrière O'Foot se cache une équipe soudée de quatre développeurs en herbe. Chacun apporte sa pierre à l'édifice : de l'expertise en base de données à la maîtrise du design d'interface, en passant par la sécurité web et l'expérience utilisateur. Nos parcours divers et notre passion partagée pour le football et la technologie font la force de notre projet. Ensemble, nous travaillons sans relâche pour offrir la meilleure expérience possible à notre communauté de footballeurs.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




