{% extends 'base.html.twig' %}

{% block title %}À propos de nous - O'FOOT{% endblock %}

{% block body %}

    
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <span class="section-title m-0 text-white">À propos de nous</span>
                </div>
                <div class="mt-3">
                    <span class="section-description semi-transparent-bg">Découvrez notre histoire, notre équipe et nos valeurs.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row mb-5">
            <div class="col-lg-6">
                <img src="https://via.placeholder.com/500" class="img-fluid rounded" alt="Notre histoire">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="mb-4 semi-transparent-bg">Notre histoire</h2>
                <div class="semi-transparent-bg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo vitae libero aliquet, eu bibendum velit dapibus. Donec ut augue a nisi faucibus consequat. Praesent tincidunt massa eget lorem facilisis, in fermentum lectus pharetra.</p>
                    <p>Sed quis tortor eu nisl tincidunt ultrices. Aliquam erat volutpat. Mauris lacinia metus a ex cursus, ut ultricies nunc efficitur. Vivamus suscipit, sapien non ullamcorper fermentum, justo odio tincidunt eros, at posuere metus libero non orci.</p>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6 order-lg-2">
                <img src="https://via.placeholder.com/500" class="img-fluid rounded" alt="Notre équipe">
            </div>
            <div class="col-lg-6 order-lg-1 text-center">
                <h2 class="mb-4 semi-transparent-bg">Notre équipe</h2>
                <div class="semi-transparent-bg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo vitae libero aliquet, eu bibendum velit dapibus. Donec ut augue a nisi faucibus consequat. Praesent tincidunt massa eget lorem facilisis, in fermentum lectus pharetra.</p>
                    <p>Sed quis tortor eu nisl tincidunt ultrices. Aliquam erat volutpat. Mauris lacinia metus a ex cursus, ut ultricies nunc efficitur. Vivamus suscipit, sapien non ullamcorper fermentum, justo odio tincidunt eros, at posuere metus libero non orci.</p>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-6">
                <img src="https://via.placeholder.com/500" class="img-fluid rounded" alt="Nos valeurs">
            </div>
            <div class="col-lg-6 text-center">
                <h2 class="mb-4 semi-transparent-bg">Nos valeurs</h2>
                <div class="semi-transparent-bg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque leo vitae libero aliquet, eu bibendum velit dapibus. Donec ut augue a nisi faucibus consequat. Praesent tincidunt massa eget lorem facilisis, in fermentum lectus pharetra.</p>
                    <p>Sed quis tortor eu nisl tincidunt ultrices. Aliquam erat volutpat. Mauris lacinia metus a ex cursus, ut ultricies nunc efficitur. Vivamus suscipit, sapien non ullamcorper fermentum, justo odio tincidunt eros, at posuere metus libero non orci.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




