{% extends 'base.html.twig' %}

{% block title %}FAQ - O'FOOT{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <h2 class="section-title m-0">Foire aux Questions / F.A.Q</h2>
                </div>
                <p class="section-description"></p>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col">
                <div class="accordion" id="faqAccordion">
                    <!-- Question 1 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Qu'est-ce que O'FOOT ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                O'FOOT est une plateforme dédiée à la création et à l'inscription à des tournois de football. Nous facilitons l'organisation de tournois pour les amateurs de football en leur offrant des outils pratiques pour gérer les inscriptions, les équipes, les calendriers de matchs, et bien plus encore.
                            </div>
                        </div>
                    </div>

                    <!-- Question 2 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Comment puis-je m'inscrire à un tournoi ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Pour vous inscrire à un tournoi, il vous suffit de créer un compte sur O'FOOT, de naviguer vers la section "Tournois", de choisir le tournoi auquel vous souhaitez participer, et de suivre les instructions pour compléter votre inscription.
                            </div>
                        </div>
                    </div>

                    <!-- Question 3 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Puis-je modifier mes informations d'inscription ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Oui, vous pouvez modifier vos informations d'inscription en vous connectant à votre compte et en accédant à la section "Mes inscriptions". De là, vous pourrez mettre à jour les informations nécessaires avant la date limite de modification.
                            </div>
                        </div>
                    </div>

                    <!-- Question 4 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Comment puis-je modifier mes informations de compte ?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Pour modifier vos informations de compte, connectez-vous à votre compte O'FOOT, allez dans la section "Mon profil" et cliquez sur "Modifier mes informations". Vous pourrez ensuite mettre à jour votre nom, votre adresse e-mail, votre mot de passe et d'autres informations personnelles.
                            </div>
                        </div>
                    </div>

                    <!-- Question 5 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Quels sont les moyens de paiement acceptés ?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Les paiements ne sont pas effectués sur notre site. Vous devez payer directement au club qui a créé le tournoi, juste avant le début de celui-ci.
                            </div>
                        </div>
                    </div>

                    <!-- Question 6 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Puis-je annuler mon inscription à un tournoi ?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Oui, vous pouvez annuler votre inscription à un tournoi. Les conditions et les modalités de remboursement peuvent varier en fonction de la date de l'annulation et des règles spécifiques du tournoi. Veuillez consulter les détails du tournoi pour plus d'informations.
                            </div>
                        </div>
                    </div>

                    <!-- Question 7 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Comment contacter le support client ?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Vous pouvez contacter notre support client en envoyant un e-mail à  <a href="mailto:contact.ofoot@gmail.com">contact.ofoot@gmail.com</a> ou en utilisant le formulaire de contact disponible sur notre site.
                            </div>
                        </div>
                    </div>

                    <!-- Question 8 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Comment puis-je modifier ou supprimer un tournoi que j'ai créé ?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Pour modifier ou supprimer un tournoi que vous avez créé, veuillez nous contacter via le formulaire de contact sur notre site. Notre équipe vous assistera dans les plus brefs délais.
                            </div>
                        </div>
                    </div>

                    <!-- Question 9 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                Puis-je rattacher mon compte à un club existant ou en créer un ?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Oui, vous pouvez rattacher votre compte à un club existant ou en créer un nouveau. Pour cela, connectez-vous à votre compte O'FOOT et allez dans la section "Mon club". Suivez les instructions pour ajouter un club existant ou créer un nouveau club.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
