{% extends 'base.html.twig' %}

{% block title %}FAQ - O'FOOT{% endblock %}

{% block body %}
<body class="background-image">
    <nav class="navbar navbar-expand-lg navbar-warning bg-company-grey custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">O'FOOT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav mx-auto nav-links">
                    <li class="nav-item"><a class="nav-link" href="http://localhost/projet-12-o-foot/html/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost/projet-12-o-foot/html/tournois.html">Tournois</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost/projet-12-o-foot/html/login.html">Connexion</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost/projet-12-o-foot/html/subscribe.html">Inscription</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost/projet-12-o-foot/html/faq.html">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost/projet-12-o-foot/html/about.html">À propos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <h2 class="section-title m-0">Foire aux Questions / F.A.Q</h2>
                </div>
                <p class="section-description"></p>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <div class="accordion" id="faqAccordion">
                    <!-- Question 1 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Qu'est-ce que O'FOOT ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, iure. In esse corrupti consequuntur delectus nostrum pariatur, dolorem iusto veritatis atque, ut quasi adipisci cumque ipsum doloremque molestias explicabo asperiores iste. Sequi, vel quod. Harum, exercitationem expedita optio animi corrupti consequuntur nostrum!
                            </div>
                        </div>
                    </div>

                    <!-- Question 2 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Comment puis-je m'inscrire à un tournoi ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus velit dolor culpa nemo sequi illo illum omnis perspiciatis. Sint debitis, odit ad incidunt natus adipisci eum rem delectus alias.
                            </div>
                        </div>
                    </div>

                    <!-- Question 3 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Puis-je modifier mes informations d'inscription ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus architecto perspiciatis vitae rem voluptate praesentium, fugit qui aliquid suscipit magnam mollitia labore explicabo, veniam temporibus. Tempora, saepe exercitationem nostrum vitae sed illo repellat modi aliquam. Rerum perferendis eligendi dolor ea quaerat eius suscipit aspernatur quia!
                            </div>
                        </div>
                    </div>

                    <!-- Question 4 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Comment puis-je modifier mes informations de compte ?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nobis veritatis, quibusdam quasi fugit optio cumque quisquam beatae soluta. Aperiam dolorem maiores tenetur illo minus repellendus blanditiis voluptatum, animi in porro quo minima doloremque totam voluptate natus quisquam, temporibus magnam autem! Minus, nesciunt illum magni laboriosam cum ducimus velit! Unde dolore voluptatibus molestiae veniam voluptatum temporibus error vel veritatis rerum pariatur culpa, quibusdam recusandae hic.
                            </div>
                        </div>
                    </div>

                    <!-- Question 5 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Quels sont les moyens de paiement acceptés ?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, atque quaerat nulla maiores placeat reprehenderit quod aliquid explicabo necessitatibus autem omnis officiis iste distinctio? Excepturi esse minus sapiente doloremque veritatis illo magnam porro vero architecto facilis tenetur tempore possimus facere numquam atque placeat odit, rerum error iste at eaque fugit optio quam! Enim modi cupiditate officia excepturi at omnis totam sint? Inventore esse non laudantium modi temporibus, reiciendis id nihil earum. Consequuntur, error maxime. Adipisci sint libero soluta? Reiciendis rem porro excepturi nihil perferendis. Accusamus, nisi quibusdam. Corporis inventore porro autem quisquam aliquam veniam explicabo illum nulla dolore perspiciatis, officiis praesentium quo dolor quas debitis illo quaerat cumque officia, fugiat ipsam, eos reiciendis eius. Quibusdam temporibus atque quisquam enim accusamus amet ex eligendi ducimus quam vel quia sint ratione asperiores quod obcaecati nostrum, magnam nemo voluptatem beatae delectus dolorem blanditiis cumque! Ex at rem culpa veniam vel sit delectus excepturi sapiente numquam, perspiciatis officia aspernatur a provident in voluptates aliquid laborum illo ducimus porro! Earum magnam dolor non blanditiis, asperiores, id, perferendis consequuntur natus culpa minus voluptatem officia facere maxime soluta error impedit vitae ab hic ipsum ullam laudantium voluptatum nihil minima? Nam facere suscipit quidem eius. Sunt, eum repellat?
                            </div>
                        </div>
                    </div>

                    <!-- Question 6 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Puis-je annuler mon inscription à un tournoi ?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, excepturi, porro omnis doloremque minus facilis odit officiis commodi quis reiciendis dignissimos eaque recusandae nisi maxime!
                            </div>
                        </div>
                    </div>

                    <!-- Question 7 -->
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Comment contacter le support client ?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae saepe tempore sequi enim qui?
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}




