{% extends 'base.html.twig' %}
{% block body %}
   <!-- Main Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <p class="mt-3 description textblack texthome">Bienvenue sur O'FOOT, la plateforme ultime pour tous les passionnés de football. Que vous soyez un club cherchant à organiser votre propre tournoi ou que vous souhaitiez inscrire votre équipe à des tournois existants, O'FOOT est là pour faciliter chaque étape.
                 Rejoignez notre communauté dynamique, créez des événements mémorables et vivez l'excitation du football comme jamais auparavant. Parcourez nos tournois récents, inscrivez-vous dès aujourd'hui et faites partie de l'aventure O'FOOT !</p>
            </div>
        </div>
    </div>
     {# Ici nous dynamisons la page home, la partie poster, name, date #}
   <!-- Carrousel de tournois -->
<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <div class="rounded-pill bg-dark d-inline-block p-3">
                <h2 class="section-title m-0">Les derniers Tournois</h2>
            </div>
        </div>
    </div>
</div>
<div class="row mt-8 mb-4">
    <div class="col-md-6 offset-md-3">
        <div id="carouselExampleCaptions" class="carousel slide mt-4" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for currentTournament in tournaments %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ asset('/images/' ~ currentTournament.poster) }}" class="d-block carousel-image" alt="Poster du tournoi">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>
                                <a class="btn btn-secondary" href="{{ path('app_tournament_read', {id: currentTournament.Id}) }}" role="button">
                                    {{currentTournament.TournamentName}}<br> {{currentTournament.Date|date('d F Y') }} <br> Plus d'infos
                                </a>
                            </h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
{% endblock %}