/* styles.css */

@import url('https://fonts.bunny.net/css?family=alata:400');

/* Body et HTML */
html, body {
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les paddings par défaut */
    display: flex;
    flex-direction: column; /* Contenu en colonne */
    height: 100%;
}

/* Fonts and Colors */
body {
    background-color: rgb(2, 2, 2);
    color: #ffffff; /* Couleur du texte général */
    font-family: 'Alata', sans-serif; /* Police personnalisée */
    
}

/* Background Image */
.background-image {
    background-image: url(./images/pexels-markusspiske-114296.jpg);
    background-position: center top;
    background-position-y: 65px; /* Déplace légèrement l'image vers le bas */
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1; /* Occupe tout l'espace restant en hauteur */
    display: flex; /* Ajout de flexbox */
    flex-direction: column; /* Contenu en colonne */
}

/* Navbar and Footer */
.bg-company-grey {
    background-color: #000000 !important; /* Couleur de fond personnalisée pour la navbar et le footer */
}

.navbar-nav .nav-link,
.custom-navbar .nav-link {
    color: white !important; /* couleur blanche aux liens de la navbar */
    transition: color 0.3s ease; /* Transition fluide pour le changement de couleur */
}

.custom-navbar .nav-link:hover {
    color: black; /* Couleur de survol des liens */
    text-decoration: none; /* Supprime le soulignement par défaut */
    background-color: #BAFF39; /* Couleur de fond de survol */
    border-radius: 5px; /* Arrondi des coins */
}

.nav-links .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link i,
.custom-navbar .nav-link i {
    font-size: 1.5rem; /* Taille de l'icône augmentée */
    color: white; /* Couleur de l'icône en blanc */
}

.custom-navbar .navbar-brand {
    color: white; /* Couleur du texte du logo en blanc */
    font-size: 1.5rem; /* Taille du texte du logo */
}

/* Carousel */
.carousel-item img {
    height: 900px; /* Ajuste la hauteur */
}
.carousel-image {
    max-width: 80%; /* Exemple de largeur maximum */
    height: auto; /* Pour conserver le ratio hauteur-largeur */
    display: block;
    margin: 0 auto; /* Centre l'image horizontalement */
}



.carousel-control-prev,
.carousel-control-next {
    color: white; /* Couleur des flèches */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: white; /* Couleur au survol */
}
/* Tournament Info */
.tournament-poster {
    border: 2px solid #dee2e6;
    border-radius: 8px;
    margin-left: 15px;
}

.tournament-info {
    background-color: #ffffff;
    border: 2px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin-right: 15px;
}

.tournament-info h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.tournament-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Forms */
.login-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

/* Buttons */
.btn-secondary {
    background-color: #BAFF39; /* Couleur de fond personnalisée pour les boutons */
    border-color: #BAFF39; /*  couleur de la bordure */
    color: black; /* Couleur du texte */
}

/* General */
.fixed-size-img {
    width: 100%;
    height: 500px; /* ajuster la hauteur de l'image */
    object-fit: cover;
}

.topcard {
    width: 100%; /* Utilisation de 100% pour occuper toute la largeur disponible */
    height: 400px; /* Ajuste automatiquement la hauteur en fonction de la largeur */
    max-width: none; 
    margin-top: 20px;
    margin-bottom: 30px;
}

.textblack {
    color: black; /* Couleur du texte noir */
}

.texthome {
    font-size: 1.2rem;
}

.rounded-pill {
    border-radius: 20px; /* Bordures arrondies */
    display: inline-block; /* Affiche l'élément en ligne */
}

.section-title {
    color: white; /* Couleur du texte */
}

/* Footer */
footer {
    background-color: #000000; /* Couleur de fond du footer */
    color: white; /* Couleur du texte du footer */
    text-align: center; /* Alignement du texte au centre */
    padding: 10px 0; /* Espacement intérieur du footer */
    margin-top: auto; /* Pour pousser le footer tout en bas */
}

/* About */
.semi-transparent-bg {
    background-color: rgba(0, 0, 0, 0.5); /* Fond noir semi-transparent */
    padding: 5px; 
    border-radius: 5px; 
    color: white; /* Couleur du texte */
    display: inline-block; /* Pour que le fond englobe uniquement le texte */
}

.card-body {
    display: flex;
    align-items: center;
}
.card-body i {
    font-size: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
}

/* Custom CSS for Profile Card */
.card-body.d-flex.flex-column.align-items-center {
    height: 100%;
}

/* Custom CSS for Tournament Card */
.card {
    border: none; /* Supprime la bordure par défaut de la carte */
    border-radius: 10px; /* Coins arrondis de la carte */
    overflow: hidden; /* Masque le débordement des éléments de la carte */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre légère pour un effet de profondeur */
}

.card-body {
    padding: 20px; /* Espacement intérieur de la carte */
}

.card-title {
    font-size: 1.5rem; /* Taille de la police du titre */
    margin-bottom: 15px; /* Espacement sous le titre */
}

.card-text {
    font-size: 1rem; /* Taille de la police du texte */
    margin-bottom: 10px; /* Espacement sous chaque ligne de texte */
}

.img-fluid {
    object-fit: cover; /* Adapte l'image à l'espace sans la déformer */
    height: 100%; /* Hauteur de l'image adaptée à celle de la carte */
}

.arrow-icon {
    transition: transform 0.25s, color 0.3s; /* Transition pour la transformation et la couleur */
    color: #BAFF39 !important; /* Couleur par défaut de l'icône, avec !important pour s'assurer qu'elle est prioritaire */
}

.arrow-icon:hover {
    transform: scale(1.2); /* Transformation au survol */
    color: rgb(15, 15, 15) !important; /* Nouvelle couleur de l'icône au survol, avec !important pour s'assurer qu'elle est prioritaire */
}

.pen-icon-solo {
    transition: transform 0.3s;
}
.pen-icon-solo:hover {
    transform: scale(1.1);
}

.icon-tournoi {
    font-size: 1.4rem;
}

.icon-tournoi-small {
    font-size: 1rem;
}

/* le texte principal avec fond gris transparent */
@media (max-width: 768px) {
    .textblack.texthome {
        background-color: rgba(200, 200, 200, 0.61); /* Couleur gris transparent */
        padding: 10px; /* Ajustement du padding pour un meilleur espacement */
        border-radius: 10px; /* Arrondi des coins */
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        max-height: 40vh; 
    }

    .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
        text-align: center; 
        width: 100%; 
    }
}

/* Back office */
.semi-transparent-bg-white {
    background-color: rgba(253, 253, 253, 0.76); /* Fond noir semi-transparent */
    padding: 5px; 
    border-radius: 5px; 
    color: white; /* Couleur du texte */
    display: inline-block; /* Pour que le fond englobe uniquement le texte */
}