{% extends 'base.html.twig' %}
{% block title %}O'FOOT{% endblock %}
{% block body %}

    <!-- Main Content -->
    <div class="container mt-4 flex-grow-1">
        <div class="row">
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <h2 class="section-title m-0">Me connecter</h2>
                </div>
                <p class="section-description"></p>
            </div>
        </div>
    </div>
    <div class="container flex-grow-1">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form class="login-form">
                    <div class="textblack">
                    <h2 class="text-center">Connexion</h2>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Mot de Passe</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Se souvenir de moi</label>
                    </div>
                    <button type="submit" class="btn btn-secondary w-100">Se connecter</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}