{% extends 'base.html.twig' %}

{% block title %}O'FOOT{% endblock %}

{% block body %}

    <!-- Main Content -->

    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div></div> <!-- Placeholder for aligning "Retour" button to the right -->
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <h2 class="section-title m-0">Créer un tournoi</h2>
                </div>
            </div>
            <a href="categories.html" class="btn btn-success">Retour</a>
        </div>
        
        <form action="" method="POST" class="mt-5">
            <div class="mb-3 text-center">
                <label for="name" class="form-label semi-transparent-bg">Nom du tournoi</label>
                <input type="text" class="form-control" id="name" placeholder="Nom de la catégorie">
            </div>
            <div class="mb-3 text-center">
                <label for="nbr_equipe" class="form-label semi-transparent-bg">Nombre d'équipes</label>
                <input type="text" class="form-control" id="nbr_equipes" placeholder="Nombre d'équipes">
            </div>
            <div class="mb-3 text-center">
                <label for="nbrjoueur_equipe" class="form-label semi-transparent-bg">Nombre de joueur/équipe</label>
                <input type="text" class="form-control" id="nbrjoueur_equipe" placeholder="Nombre de joueur par équipe">
            </div>
            <div class="mb-3 text-center">
                <label for="lieu" class="form-label semi-transparent-bg">Lieu</label>
                <input type="text" class="form-control" id="lieu" placeholder="Lieu" aria-describedby="subtitleHelpBlock">
            </div>
            <div class="mb-3 text-center">
                <label for="date" class="form-label semi-transparent-bg">Date</label>
                <input type="text" class="form-control" id="date" placeholder="Date" aria-describedby="subtitleHelpBlock">
            </div>
            <div class="mb-3 text-center">
                <label for="Tarif" class="form-label semi-transparent-bg">Tarif</label>
                <input type="text" class="form-control" id="tarif" placeholder="Tarif (en €)" aria-describedby="pictureHelpBlock">
            </div>
            <div class="mb-3 text-center">
                <label for="Récompenses" class="form-label semi-transparent-bg">Récompenses</label>
                <input type="text" class="form-control" id="rewards" placeholder="Récompenses du tournoi" aria-describedby="pictureHelpBlock">
            </div>
            <div class="mb-3 text-center">
                <label for="poster" class="form-label semi-transparent-bg">Poster/Affiche</label>
                <input type="text" class="form-control" id="poster" placeholder="Poster ou Affiche du tournoi" aria-describedby="pictureHelpBlock">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary w-100">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}




