{% extends 'base.html.twig' %}

{% block title %}Edit Tournament{% endblock %}

{% block body %}
<div class="container mt-4 custom-contact-container">
    <div class="row">
        <div class="col text-center">
            <div class="rounded-pill bg-dark d-inline-block p-3">
                <h2 class="section-title m-0">Edition d'un tournoi</h2>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 semi-transparent-bg-white p-4 text-center text-black">
                {{ include('tournament_back/_form.html.twig', {'button_label': 'Modifier'}) }}
            
                <div class="text-center mt-2 mb-2 mx-auto">
                    <a href="{{ path('app_tournament_back_index') }}" class="btn btn-secondary">Retour à la liste des tournois</a>
                </div>

                {{ include('tournament_back/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
