{% extends 'base.html.twig' %}

{% block title %}O'FOOT{% endblock %}

{% block body %}

    <!-- Main Content -->

    <div class="container my-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div></div> <!-- Placeholder for aligning "Retour" button to the right -->
            <div class="col text-center">
                <div class="rounded-pill bg-dark d-inline-block p-3">
                    <h2 class="section-title m-0">Créer un club</h2>
                </div>
            </div>
            <a href="categories.html" class="btn btn-success">Retour</a>
        </div>
        
        <form action="" method="POST" class="mt-5">
            <div class="mb-3 text-center">
                <label for="nameclub" class="form-label semi-transparent-bg">Nom du club</label>
                <input type="text" class="form-control w-75 mx-auto" id="nameclub" placeholder="Nom du club">
            </div>
            <div class="mb-3 text-center">
                <label for="licence_number" class="form-label semi-transparent-bg">Numéro de licence</label>
                <input type="text" class="form-control w-75 mx-auto" id="licence_number" placeholder="Numéro de licence du club">
            </div>
            <div class="mb-3 text-center">
                <label for="adresse" class="form-label semi-transparent-bg">Adresse du club</label>
                <input type="text" class="form-control w-75 mx-auto" id="adresse" placeholder="Adresse">
            </div>
            <div class="mb-3 text-center">
                <label for="logo" class="form-label semi-transparent-bg">Logo</label>
                <input type="text" class="form-control w-75 mx-auto" id="logo" placeholder="Logo du club" aria-describedby="subtitleHelpBlock">
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-secondary w-50 mx-auto">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}




